#SysInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 120px;
}

.cpubar-container {
    display: inline-block;
    position: relative;
    border: 1px solid white;
    height: 102px;
    width: 22px;
    text-align: center;
    line-height: 102px;
    margin-right: 5px;
}

.cpubar-level {
    background-color: green;
    max-height: 100%;
    width: 20px;
    height: 0;
    position: absolute;
    bottom: 1px;
    left: 1px;
}

.cpubar-label {
    position:relative;
    z-index: 1;

}